#general
*.bak
*~
*.log

#compiled
*.com
*.class
*.dll
*.exe
*.o
*.so

#archive
*.jar
*.ear
*.war

#eclipse
.classpath
.project
.settings/
.metadata/
faces-config.pageflow

#intellij
.idea/
*.iml

#maven
generated/
generated-sources/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
flattened-pom.xml

#cvs
CVS/
.cvsignore

#subversion
.svn/
